html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background: #2c2c2c;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

#myname {
    display: inline;
    padding-left: 20px;
    margin: 20px;
}

.flex {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

a {
    outline: 0;
}

#header {
    top: 0;
    justify-content: left;
    position: fixed;
    width: 100%;
    left: 0;
    align-items: center;
    text-align: left;
    z-index: 300;
    background: #2c2c2c;
    transition: 0.3s;
}

:not(.stuck)#header {
    padding: 20px;
    filter: drop-shadow(0 0 5px rgba(22, 22, 22, 0));
}

.logo-image {
    height: max(10vh, 100px);
}

.logo-text {
    font-size: max(8vh, 40px);
}

.website {
    min-width: max(150px, 20%);
    background: rgb(34, 34, 34);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 15px rgb(26, 26, 26));
    transition: 0.5s ease-out;
    padding: 10px;
}

.hidden {
    display: none;
}

#videos-div {
    flex-direction: row;
}

.aboutp {
    text-align: center;
    font-size: 18px;
    padding: min(100px, 10%);
}

#header-links {
    flex: 0.9 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(34, 34, 34);
    color: white;
    text-decoration: none;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
    filter: drop-shadow(2px 1px 5px rgb(26, 26, 26));
}

#matrix {
    font-size: 24px;
    user-select: none;
}

.social:hover {
    transform: scale(1.01) translate(-1px, -1px);
    filter: drop-shadow(3px 2px 8px rgb(19, 19, 19));
}

.video {
    width: max(300px, 10%);
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    filter: drop-shadow(2px 2px 18px rgb(24, 24, 24));
    padding-bottom: 5px;
    cursor: pointer;
    background: white;
    transition: 0.5s ease-out;
}

.button {
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background: rgb(71, 71, 73);
    width: 100px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    filter: drop-shadow(2px 2px 5px rgb(34, 34, 34));
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.2s;
}

.button:hover {
    filter: drop-shadow(3px 3px 10px rgb(39, 39, 39));
    transform: scale(1.01) translate(-1px, -1.5px);
}

.video:hover {
    transform: scale(1.005) translate(-2px, -2.5px);
    filter: drop-shadow(20px 15px 35px rgb(8, 8, 8));
}

.thumbnail-image {
    width: 100%;
    border-radius: 8px;
}

.description {
    text-align: left;
    color: black;
    margin: 10px;
    font-size: 18px;
}

.title {
    text-align: left;
    margin: 10px;
    font-size: 25px;
    color: black;
}

.icon-image {
    height: max(10vh, 100px);
}

.website:hover {
    transform: scale(1.01) translate(-4px, -5px);
    filter: drop-shadow(15px 20px 25px rgb(19, 18, 18));
}

#websites {
    padding-top: 40px;
    padding-bottom: 20px;
}

.darker {
    background: #202020;
}

.circle {
    border-radius: 100%;
}

section {
    width: 100%;
    scroll-margin-top: 150px;
}

.stuck~#header-displace {
    height: max(5vw, 45px);
    padding: 5px;
    width: 100%;
}

:not(.stuck)~#header-displace {
    height: max(5vw, 45px);
    padding: 30px;
}
.head-link {
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    margin-right: 20px;

    filter: drop-shadow(0 0 0 rgb(39, 39, 39));
    transition: 0.3s;
}
.head-link:hover {
    color: white;
    filter: drop-shadow(2px 1px 10px rgb(3, 3, 3));
}
#header-displace {
    height: 0;
    transition: 0.25s;
}

#logo {
    transition: 0.2s ease-in;
}

:not(.stuck)>#logo {
    width: max(5%, 45px);
}

.stuck>#logo {
    width: max(3%, 25px);
}

.stuck>#myname {
    font-size: 20px;
    padding-bottom: 0;
    transition: 0.2s;
}

.stuck {
    padding: 5px;
    filter: drop-shadow(0 3px 5px rgb(22, 22, 22));
    position: fixed;
    width: 100%;
}