html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background: #2c2c2c;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.flex {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

#header {
    /*
    position: sticky;
    top:0;
    use this code here for sticky header when the time comes
    */
}

.logo-image {
    height: max(10vh, 100px);
}

.logo-text {
    font-size: max(8vh, 40px);
}

.website {
    min-width: max(150px, 20%);
    background: rgb(34, 34, 34);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 15px rgb(26, 26, 26));
    transition: 0.5s ease-out;
    padding: 10px;
}

.hidden {
    display: none;
}

#videos-div {
    flex-direction: row;
}
.aboutp {
    text-align: center;
    font-size: 18px;
    padding: min(100px, 10%);
}
.social {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(34, 34, 34);
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
    filter: drop-shadow(2px 1px 5px rgb(26, 26, 26));
}
#matrix {
    font-size: 24px;
}
.social:hover {
    transform: scale(101%) translate(-1px, -1px);
    filter: drop-shadow(3px 2px 8px rgb(19, 19, 19));
}
.video {
    width: max(300px, 10%);
    border-radius: 10px;
    margin: 10px;
    filter: drop-shadow(0 0 15px rgb(34, 34, 34));
    padding-bottom: 5px;
    cursor: pointer;
    background: white;
    transition: 0.3s;
}

.button {
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background: rgb(71, 71, 73);
    width: 100px;
    height: 50px;
    vertical-align: middle;
    line-height: 100%;
    filter: drop-shadow(2px 2px 5px rgb(34, 34, 34));
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.2s;
}

.button:hover {
    filter: drop-shadow(3px 3px 10px rgb(39, 39, 39));
    transform: scale(101%) translate(-1px, -1.5px);
}

.video:hover {
    transform: scale(100.5%) translate(-2px, -2.5px);
    filter: drop-shadow(5px 8px 25px rgb(29, 29, 29));
}

.thumbnail-image {
    width: 100%;
    border-radius: 8px;
}

.description {
    text-align: left;
    color: black;
    margin: 10px;
    font-size: 18px;
}

.title {
    text-align: left;
    margin: 10px;
    font-size: 25px;
    color: black;
}

.icon-image {
    height: max(10vh, 100px);
}

.website:hover {
    transform: scale(101%) translate(-4px, -5px);
    filter: drop-shadow(15px 20px 25px rgb(19, 18, 18));
}

#websites {
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.darker {
    background: #202020;
}

.circle {
    border-radius: 100%;
}

section {
    width: 100%;
}

#logo {
    width: max(10%, 75px);
}